@charset "utf-8";


.company_table tr {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
}
.company_table tbody tr th {
	width: 20%;
	padding: 1.5rem 5rem;
	background: #e0e0e0;
	vertical-align: middle;
}
.company_table tbody tr td {
	padding: 1.5rem 2rem;
	border-right: 1px solid #e6e6e6;
}